* {
    list-style: none;
}

.container {
    border: 3px solid #fff;
    padding: 20px;
}

.child {
    width: 1/3;
    float: left;
    padding: 20px;
    border: 2px solid red;
}


.photo {
    width: 1/2;
    float: left;
    padding: 20px;
    border: 2px solid blue;
}

.info {
    margin-right: 20px;
    border: 2px solid green;
}

.right {
    margin-right: 20px;
    border: 2px solid pink;
}

.GarInfo {
    width: 1/2;
    float: left;
    padding: 20px;
    border: 2px solid yellow;
}

.DetailVendeur {
    margin-right: 20px;
    border: 2px solid cyan;
}

.price {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.childs {
    text-align: center;
    width: 1/3;
    float: left;
    padding: 20px;
    border: 2px solid red;
}