body {
    margin: 0px;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: #A4BE7B;
    position: relative;
}

footer {
    height: 5rem;
    width: 100vw;
    background-color: #A4BE7B;
    bottom: 0px;
    position: fixed;
}

.container_all {
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 3rem;
    background-color: #E5D9B6;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    gap: 3rem;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(../ajout_produit_images/pepe.jpg);
    position: absolute;
}

.image_container {
    height: 20rem;
    width: 20rem;
    border: solid black 1px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.container_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Name {
    display: flex;
    flex-direction: column;
}

.price_contain {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.price {
    display: flex;
    flex-direction: column;
}

.price_input {
    width: 5rem;
}

.reduc_input {
    width: 5rem;
}

.category {
    display: flex;
    flex-direction: column;
}

.category_select {
    width: auto;
}

.container_status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.quantity_input {
    width: 3rem;
}

.status {
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
    flex-direction: column;
}

.taxe {
    display: flex;
    flex-direction: column;
}

.Title {
    width: 100vw;
    text-align: center;
}

.container_insertImage_Image {
    height: 20rem;
    width: 20rem;
}