body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    background-image: url(../../../ajout_produit/assets/ajout_produit_images/pepe.jpg);
}

.products {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.img {
    position: relative;
    object-fit: contain;
    height: 8rem;
    width: 8rem;
}

.ind_products {
    width: 10rem;
    height: 13rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: lightseagreen;
}

.nav-links li a.active {
    background-color: #4caf50;
}