*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
h1{
    display: flex;
    align-items: center;

}
/* --------------- Head --------------- */

.main-header {
    background: green;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 1rem;
}
nav ul{
    display: flex;
    flex:1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-police{
    display: flex;
    font-size: 13px;
}
div > ul > li:hover{
    color: green;
    border-bottom: 2px solid green;
}
#logo{
    flex: 1 1 100rem;
}
.search-bar{
    width: 40%;
    max-width: px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.search-bar input{
    background: white;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 20px;
    color: #000000;
}
.search-bar button img{
    width: 25px;
}
.search-bar button img{
    border: none;
    width: 42px;
    height: 42px;
    background: white;
    cursor: pointer; 
}
/* ------menu----------*/
.menu-toggle{
    align-items: center;
    padding: 1.5rem;
    background: grey;
    height: 75px;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/*----------------- menu deroulant -------------*/
.sous-menu-container1{
    display: none;
    background: blueviolet;
    border:solid;
    list-style-type: none;
    text-align: center;
}
.option1:hover .sous-menu-container1{
    display: block;
    text-align: center;
}
.sous-menu-container2{
    display: none;
    background: blueviolet;
    border:solid;
    list-style-type: none;
    text-align: center;
}
.option2:hover .sous-menu-container2{
    display: block;
     text-align: center;
}
.sous-menu-container3{
    display: none;
    background: blueviolet;
    border:solid;
    list-style-type: none;
    text-align: center;
}
.option3:hover .sous-menu-container3{
    display: block;
}