body {
    margin: 0px;
}

.container {
    background-color: rgb(121, 240, 151);
    height: 100vw;
    width: 100vw;
    padding: 3rem;
}

.ind_products {
    height: 14rem;
    width: 30%;
    display: flex;
    gap: 1rem;
    vertical-align: middle;
    padding: 2rem;
    border: solid black 1px;
}

.ind_product {
    display: flex;
    gap: 1rem;
}

.img {
    height: 10rem;
}

.info {}

.image {
    object-fit: contain;
}