body {
    color: black;
    background-color: white;
    background-image: url("../../../ajout_produit/assets/ajout_produit_images/pepe.jpg");
    margin: center;
}

.product-page {
    display: flex;
    flex-direction: column;
}

.product-header {
    width: 100%;
}

.product-title {
    font-size: 2em;
    text-align: left;
    margin: 0;
}

.product-section {
    display: flex;
    flex-direction: row;
}

.product-image-container {
    width: 30%;
}

.main-image {
    width: 100%;
    display: block;
    margin-left: 25%;
}

.product-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.product-description {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.product-quantity {
    margin-bottom: 1em;
    display: flex;
}

.product-price {
    font-size: 1.2em;
    margin-bottom: 1em;
    align-self: flex-end;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    display: block;
    width: 100%;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.container_all {
    top: calc(50% - 17.5rem);
    height: 35rem;
    position: absolute;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(229, 217, 182);
    display: flex;
    padding: 3rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 10px;
    gap: 3rem;
}

.heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat", sans-serif;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: lightseagreen;
}

.nav-links li a.active {
    background-color: #4caf50;
}


/*** fin nav ***/

.fav {
    background: url('https://www.svgrepo.com/show/473870/heart.svg') no-repeat;
    cursor: pointer;
    width: 300px;
    height: 200px;
    border: none;
}