body {
    margin: 0px;
}

header {
    height: 4rem;
    width: 100vw;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ind_user {
    display: flex;
    gap: 0.5rem;
}

.info {
    padding: 0.2rem;
    background-color: beige;
    align-items: center;
}